.container {
  border: 2px solid rgba(255, 6, 255, 0.8);
}

.form-group {
  border: 2px solid rgba(240, 16, 0, 0.8);
}

.row {
  border: 2px solid rgb(76, 223, 19);
}

.col-md-7 {
  border: 2px solid rgb(0, 26, 255);
}
